/*
You can add your own CSS here.

Click the help icon above to learn more.
*/
.blog:not(.has-sidebar) #primary article,
.archive:not(.page-one-column):not(.has-sidebar) #primary article,
.search:not(.has-sidebar) #primary article,
.error404:not(.has-sidebar) #primary .page-content,
.error404.has-sidebar #primary .page-content,
body.page-two-column:not(.archive) #primary .entry-content,
body.page-two-column #comments {
    width: 100%;
    float: inherit;
}
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
@import url("//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css");

/*Remove Instagram's black line */
#sb_instagram .sb_instagram_header a {  
float: none;

}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

body:not(.has-sidebar):not(.page-one-column) .page-header, body.has-sidebar.error404 #primary .page-header, body.page-two-column:not(.archive) #primary .entry-header, body.page-two-column.archive:not(.has-sidebar) #primary .page-header {
    float: none;
    width: inherit;
}
.page-two-column .panel-content .entry-header .entry-content {
    float: none;
    width: auto;
}
.page-two-column .panel-content .entry-header {
    float: inherit;
    width: inherit;
}
.page-two-column .panel-content .entry-content {
    float: inherit;
    width: inherit;
}
.entry-title {
color: #000000;
}
.site-info {
    float: inherit;
    width: inherit;
}
body {
		text-align: center;
}
.crew-members {
    position: relative;
    width: 50%;
}

.image {
  float: left;
  margin-right: 1%;
  margin-bottom: 0.5em;
  opacity: 1;
  display: flex;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 50%;
  border:2px solid gray;
  margin:10px
  }

.middle {
  transition: .5s ease;
  opacity: 0;
  display: flex;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.crew-members:hover .image {
  opacity: 0.3;
}

.crew-members:hover .middle {
  opacity: 0.7;
}

.text {
  position: relative;
  background-color: gray;
  color: black;
  font-size: 16px;
  padding: 4px 16px;
} 